page-socialpage {


    ion-button.lg-btn{
        height: 6rem;
    }
    .padding16{padding:16px}

    

a.web {
    display: flex;
    color: blue;
    text-decoration: auto;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}
p.link {
    color: black;
    padding-right: 5px !important;
}
}
